h2 {
	border-bottom: 1px solid black;
	background-color: #E9E1BC;
	font-size: 12pt;
	margin: -5px -5px 5px -5px;
	font-weight: bold;
	padding: 2px;
}

div.key-box {
	margin: 5px;
	border: 1px solid black;
	padding: 5px;
	width: 150px;
	float: right;
	clear: both;
}

div.content-box {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}
