img#top-right {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	height: 96px;
	width: 157px;
}

.flickrImage {
	border: none;
}

#updates {
	margin-right: 20px;
	min-height: 200px;
	padding: 1em;
	width: 150px;
}

#updates ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#updates li {
	margin: 10px 0px;
}
